<h2>Componente Padre</h2>

<div style=" border-style: solid; border-width: 2px; border-color: orange; padding: 10px">
  <div class="container"> <app-header></app-header> </div>
  <app-usodirectivainputhijo [titulo] = "tituloImpuestoPorPadre"></app-usodirectivainputhijo>
  - El título de arriba lo ha puesto el componente usodirectivainputpadre.components.ts
  <br>
  - Estos valores vienen de un array del componente usodirectivainputpadre.components.ts
  <app-usodirectivainputhijo *ngFor="let avisop of avisos" [aviso] ="avisop">
  </app-usodirectivainputhijo>
</div>
